<!-- Modal markup -->
<ng-template #contentModalConfirm role="document" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{titulo}}</h5>
            <button (click)="onDismiss()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div *ngIf="innerHTML;else elseHTML" [innerHTML]="innerHTML"></div>
    
            <ng-template #elseHTML>
                <p class="fs-sm">{{ mensagem ?? 'Deseja proceder com a ação?'}}</p>
            </ng-template>
        </div>
        <div class="modal-footer">
            <button (click)="onDismiss()" *ngIf="!esconderBotaoCancelar" type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                {{ textoBotaoCancelar || 'Não'}}
            </button>
            <button (click)="onConfirm()" *ngIf="!esconderBotaoConfirmar" type="button" class="btn btn-primary btn-sm">
                {{ textoBotaoConfirmar || 'Sim'}}
            </button>
        </div>
    </div>
</ng-template>