<div (window:scroll)="windowScroll()" id="home">
  <header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light">
    <div class="container"><a class="navbar-brand d-none d-sm-block me-4 order-lg-1" routerLink="/"><img
          src="assets/img/logo-dark.png" width="142" alt="Cartzilla"></a><a
        class="navbar-brand d-sm-none me-2 order-lg-1"><img src="assets/img/logo-icon.png"
          width="74" alt="Cartzilla"></a>
      <div class="navbar-toolbar d-flex align-items-center order-lg-3">
        
        <div class="navbar-tool dropdown ms-3 cart"><a
            class="navbar-tool-icon-box bg-secondary dropdown-toggle" routerLink="/carrinho"><span
              class="navbar-tool-label">{{carts.length}}</span><i class="navbar-tool-icon ci-cart"></i></a>
          <!-- Cart dropdown-->
          <div class="dropdown-menu dropdown-menu-end">
            <div class="widget widget-cart px-3 pt-2 pb-3" style="width: 20rem;">
              <div style="height: 15rem;" data-simplebar data-simplebar-auto-hide="false">
                <div *ngFor="let cart of carts;let i = index" class="widget-cart-item pb-2 border-bottom">
                  <button class="btn-close text-danger" type="button" aria-label="Remove" (click)="removecart(i, cart)"><span
                      aria-hidden="true">&times;</span></button>
                  <div class="d-flex align-items-center"><a class="d-block" href="javascript:void(0);"><img
                        src="{{cart.produtoImagem}}" width="64" alt="{{cart.produtoDescricao}}"></a>
                    <div class="ps-2">
                      <h6 class="widget-product-title"><a href="javascript:void(0);">{{cart.produtoDescricao}}</a></h6>
                      <div class="widget-product-meta"><span class="text-accent me-2">{{cart.produtoValor | currency: "BRL"}}</span><span
                          class="text-muted">x {{cart.qtd}}</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
                <div class="fs-sm me-2 py-2"><span class="text-muted">Total:</span><span
                    class="text-accent fs-base ms-1">{{calculatetotal(total) | currency: "BRL"}}</span></div><a
                  class="btn btn-outline-secondary btn-sm" href="javascript:void(0);" routerLink="/carrinho">Expandir Carrinho<i
                    class="ci-arrow-right ms-1 me-n1"></i></a>
              </div><a class="btn btn-primary btn-sm d-block w-100" href="javascript:void(0);" routerLink="/checkout"><i
                  class="ci-card me-2 fs-base align-middle"></i>Finalizar</a>
            </div>
          </div>
        </div>
        <a *ngIf="!usuarioEstaLogado" class="navbar-tool ms-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#showModal"
          (click)="openModal()"><span class="navbar-tool-tooltip">Conta</span>
          <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
        </a>
        <div *ngIf="usuarioEstaLogado" class="btn-group navbar-tool dropdown ms-3">
          <i class="navbar-tool-icon ci-user dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item" (click)="logOut()">
              Sair 
              <i class="navbar-tool-icon ci-forward"></i>
            </a>
          </div>
        </div>
      </div>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse me-auto order-lg-2"
        id="navbarCollapse">
        
        <!-- Primary menu-->
        <ul class="navbar-nav">
          <li ngbDropdown class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:void(0);"
              data-bs-toggle="dropdown" ngbDropdownToggle>{{ "MENUITEMS.CUISINE.TEXT" | translate }}</a>
            <div class="dropdown-menu px-2 ps-0 pb-4" ngbDropdownMenu>
              <div class="d-flex">
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);" routerLink="/category"><img
                        class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/burger.svg" width="60"
                        alt="Burgers &amp; Fries">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.Burgers&Fries" | translate }}</h6>
                    </a></div>
                </div>
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);"><img
                        class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/noodles.svg" width="60"
                        alt="Noodles">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.Noodles" | translate }}</h6>
                    </a></div>
                </div>
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);"><img
                        class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/pizza.svg" width="60"
                        alt="Pizza &amp; Pasta">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.Pizza&Pasta" | translate }}</h6>
                    </a></div>
                </div>
              </div>
              <div class="d-flex">
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);"><img
                        class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/fish.svg" width="60"
                        alt="Fish &amp; Seafood">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.Fish&Seafood" | translate }}</h6>
                    </a></div>
                </div>
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);"><img
                        class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/healthy.svg" width="60"
                        alt="Healthy Food">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.HealthyFood" | translate }}</h6>
                    </a></div>
                </div>
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);"><img
                        class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/cuisine.svg" width="60"
                        alt="Haute Cuisine">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.HauteCuisine" | translate }}</h6>
                    </a></div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0);" routerLink="/">{{ "MENUITEMS.BaACKTOMAINDEMO" | translate }}</a></li>
          <li *ngIf="podeExibirAbaProdutos" class="nav-item"><a class="nav-link" href="javascript:void(0);" routerLink="/produtos">Produtos</a></li>
        </ul>
      </div>
    </div>
  </header>
</div>

<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">
    <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="modal"
      (click)="openModal()">
      <span class="handheld-toolbar-icon"><i class="ci-user"></i></span>
      <span class="handheld-toolbar-label">Conta</span>
    </a>
    <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse" (click)="collapse.toggle()" onclick="window.scrollTo(0, 0)">
      <span class="handheld-toolbar-icon"><i class="ci-menu"></i></span>
      <span class="handheld-toolbar-label">Menu</span>
    </a>
    <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" routerLink="/carrinho">
      <span class="handheld-toolbar-icon"><i class="ci-cart"></i>
        <span class="badge bg-primary rounded-pill ms-1">{{carts.length}}</span>
      </span>
      <span class="handheld-toolbar-label">${{calculatetotal(total)}}</span>
    </a>
  </div>
</div>