<footer class="footer bg-darker pt-5">
  <div class="container pt-2">
    <div class="d-md-flex justify-content-between pt-4 pb-1">
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">
        © MeuMenu
      </div>
    </div>
  </div>
</footer>

<!-- Back To Top Button-->
<a class="btn-scroll-top" href="javascript:void(0)" [ngxScrollTo]="'#home'" data-scroll>
  <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
  <i class="btn-scroll-top-icon ci-arrow-up"></i>
</a>